.header {
	padding: 40px;
	position: relative;
	left: auto;
	border-bottom:1px solid rgba(194.00000363588333, 17.00000088661909, 161.0000056028366, 1);
  }

  .image_logo{
	width:76px;
	height:63px;
	position:absolute;
	left:81px;
	top:6px;
	background-image:url(../images/logo.png);
	background-repeat:no-repeat;
  }

  .image_go_route{
	width:100%;
	height:63px;
	position:absolute;
	left:170px;
	top:30px;
	background-image:url(../images/GoRoute.png);
	background-repeat:no-repeat;
  }
  

@media (max-width: 576px) {

	/* CSS rules for extra small devices */
	.image_logo {
        left: 10px;
      }

      .image_go_route {
        left: 100px;
      }
  
  
}
   
@media (min-width: 577px) and (max-width: 767px) {
	/* CSS rules for small devices */
	
	.image_logo {
        left: 10px;
      }

      .image_go_route {
        left: 100px;
      }
  
  }
  
  
@media (min-width: 768px) and (max-width: 991px) {
	/* CSS rules for medium devices */
	.image_logo {
        left: 10px;
      }

      .image_go_route {
        left: 100px;
      }
  
  }
  

