* {
  box-sizing: border-box;
}

.bodycheckout {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  margin: 0 auto;
  background: #3E0763;
  justify-content: center;
  align-items: center;
}

.checkout-panel {
  margin: 5%;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 600px;
  height: auto;
  background-color: #310159;
  box-shadow: 0px 0px 6px 5px #c211A1;
}

.panel-body {
  padding: 4% 6% 0;
  flex: 1;
}

.title-checkout {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 3%;
  color: #ffffff;
  font-size: 24px;
}

.progress-bar {
  display: flex;
  margin-bottom: 4%;
  justify-content: space-around;
}

.step1 {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  display: block;
  width: 20px;
  height: 20px;
  margin-bottom: 25px;
  border: 3px solid #fff;
  border-radius: 50%;
  background-color: #efefef;
}

.step1:after {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 23px;
  width: 100px;
  height: 4px;
  content: '';
  background-color: #efefef;
  transform: translateY(-50%);
}

.step1:before {
  color: #ffffff;
  position: absolute;
  top: 34px;
  left: 0;
}

.step1:last-child:after {
  content: none;
}

.step1.active {
  background-color: #C211A1;
}

.step1.active:after {
  background-color: #C211A1;
}

.step1.active:before {
  color: #C211A1;
}

.step1.active + .step1 {
  background-color: #C211A1;
}

.step1.active + .step1:before {
  color: #C211A1;
}

.step1:nth-child(1):before {
  content: 'Select';
}

.step1:nth-child(2):before {
  right: -12px;
  content: 'Details';
}

.step1:nth-child(3):before {
  right: -23px;
  content: 'Payment';
}

.step1:nth-child(4):before {
  right: 0;
  content: 'Confirmation';
}

.payment-method {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-around;
}

.method {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 122px;
  padding-top: 20px;
  cursor: pointer;
  border: 1px solid #C211A1;
  border-radius: 18px;
  background-color: #310159;
  justify-content: center;
  align-items: center;
}

.card-logos {
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}

.radio-input {
  margin-top: 20px;
}

input[type='radio'] {
  display: inline-block;
}

.input-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.input-fields label {
  display: block;
  margin-bottom: 10px;
  color: #b4b4b4;
}

.info {
  font-size: 12px;
  font-weight: 300;
  display: block;
  margin-top: 30px;
  opacity: 0.5;
  color: #2e2e2e;
}

.column-1,
.column-2 {
  width: 63%;
}

.input-field1 {
  font-size: 16px;
  width: 100%;
  height: 40px;
  padding: 0 53px;
  color: #0e0e0e;
  border: 1px solid #3E0763;
  border-radius: 4px;
  outline: none;
}

.input-field1 {
  border-color: #C211A1;
}

.small-inputs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: space-between;
}

.small-inputs div {
  width: 100%;
  max-width: 170px;
}

.panel-footer {
  display: flex;
  width: 100%;
  height: 80px;
  padding: 0 40px;
  background-color: #3E0763;
  justify-content: space-between;
  align-items: center;
}

.btn {
  font-size: 16px;
  width: 150px;
  height: 40px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  letter-spacing: 1px;
  border: none;
  border-radius: 6px;
}

.back-btn {
  color: #C211A1;
  background: #ffffff;
}

.next-btn {
  color: #ffffff;
  background: #C211A1;
}

.btn:focus {
  outline: none;
}

.field button:hover {
  background-color: #310159;
}

.btn:hover {
  background-color: #310159;
}

.warning {
  border-color: #cc97a3;
}

/* Media Queries */
@media screen and (max-width: 1600px) {
  .checkout-panel {
    margin: 4%;
  }

  .panel-body {
    padding: 3% 4% 0;
  }

  .progress-bar {
    margin-bottom: 7%;
  }

  .step1 {
    width: 16px;
    height: 16px;
    margin-bottom: 20px;
    border: 2px solid #fff;
  }

  .step1:after {
    top: 50%;
    left: 15px;
    width: 1000%;
    height: 3px;
  }

  .step1:before {
    top: 38px;
    font-size: 12px;
  }

  .method {
    width: 47%;
    margin-bottom: 3%;
  }

  .card-logos {
    width: 120px;
  }

  .input-fields label {
    margin-bottom: 2%;
  }

  .input-fields input[type='text'],
  .input-fields input[type='password'] {
    height: 35px;
    font-size: 14px;
  }

  .panel-footer {
    height: 60px;
    padding: 0 12%;
  }

  .btn {
    width: 130px;
    height: 35px;
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .checkout-panel {
    margin: 3%;
    height: auto;
  }

  .panel-body {
    padding: 2% 3% 0;
  }

  .title-checkout {
    font-size: 24px;
    margin-bottom: 2%;
  }

  .progress-bar {
    margin-bottom: 9%;
  }

  .step1 {
    width: 14px;
    height: 14px;
    margin-bottom: 18px;
    border: 2px solid #fff;
  }

  .step1:after {
    top: 50%;
    left: 12px;
    width: 1300%;
    height: 2px;
  }

  .step1:before {
    top: 35px;
    font-size: 10px;
  }

  .method {
    width: 47%;
    margin-bottom: 2%;
  }

  .card-logos {
    width: 100px;
  }

  .input-fields input[type='text'],
  .input-fields input[type='password'] {
    height: 30px;
    font-size: 12px;
  }

  .panel-footer {
    height: 50px;
    padding: 0 12%;
  }

  .btn {
    width: 110px;
    height: 30px;
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .checkout-panel {
    margin: 2%;
    height: auto;
  }

  .panel-body {
    padding: 1% 2% 0;
  }

  .title-checkout {
    font-size: 20px;
    margin-bottom: 2%;
  }

  .progress-bar {
    margin-bottom: 9%;
  }

  .step1 {
    width: 12px;
    height: 12px;
    margin-bottom: 16px;
    border: 1px solid #fff;
  }

  .step1:after {
    top: 50%;
    left: 10px;
    width: 800%;
    height: 1px;
  }

  .step1:before {
    top: 31px;
    font-size: 9px;
  }

  .method {
    width: 50%;
    margin-bottom: 2%;
  }

  .card-logos {
    width: 80px;
  }

  .input-fields label {
    margin-bottom: 1%;
  }

  .input-fields input[type='text'],
  .input-fields input[type='password'] {
    height: 25px;
    font-size: 10px;
  }

  .panel-footer {
    height: 40px;
    padding: 0 12%;
  }

  .btn {
    width: 90px;
    height: 25px;
    font-size: 10px;
  }
}
